body{
    margin:0px;
    padding:0px;
    position: relative;
}
header{
    background-color: rgb(21, 143, 174);
    margin-left: 0%;
    margin-right: 0%;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
}
header p{
    font-family: 'Montserrat', Impact, Arial, sans-serif;
    margin-top: 0%;
    margin-bottom: 0%;
    font-size:4.5em;
    font-weight: bold;
    color: yellow;
}

.conteneur_page5{
    font-family: 'Montserrat', Impact, Arial, sans-serif;
    width:60%;
    height: auto;
    background-color: #5D6D7E;
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 1%;
    padding-bottom: 0%;
    padding-top: 2%;
    flex-wrap: wrap; 
}
.prelude{ font-size: 1.5em; font-weight: bold; margin-top: 5%;}
.menu1_page5{
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 5%;
}
.menu2_privee{
    text-align: left;
    margin-left: 0%;
    font-size: 1em;
}
.conteneur_menu--page5{
    margin-left: 3%;
    padding: 2%;
}

.div_foot--page5{
  width: 100%;
  font-family: 'Montserrat', Impact, Arial, sans-serif;
  font-weight: bold;
  background-color: #158fae;
  margin-left: 0%;
  margin-right: 0%;
  padding-right: 0%;
  padding-left: 0%;
  font-size: 2.5em;
  color: yellow;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  position: fixed; bottom: 0px; left: 0; right: 0;
  
}

.mlegales a{
    text-decoration: none;
    color: yellow;
}
.contact a{
    text-decoration: none;
    color: yellow;
}
.contact{
    &:hover{
        background:#0000FF;
        animation: secouer 500ms;
        animation-iteration-count: 3;
        border-radius: 15px;
    }
  @keyframes secouer {
      0%{
          transform:translateX(2%);
      }
      100%{
          transform:translateX(2% *-1);
      } 
  }
}
.mlegales{
  &:hover{
      background:#0000FF;
      animation: secouer 500ms;
      animation-iteration-count: 3;
      border-radius: 15px;
  }
@keyframes secouer {
    0%{
        transform:translateX(2%);
    }
    100%{
        transform:translateX(2% *-1);
    } 
}
}
/*La media query de largeur maximale 1024px*/
@media screen and (max-width: 1024px){
    header p{font-size: 3em;}
    .conteneur_page5{
        font-family: 'Montserrat', Impact, Arial, sans-serif;
        width: 100%;
        height: auto;
        background-color: #5D6D7E;
        color: white;
        margin-left: 0%;
        margin-right: 0%;
        text-align: center;
        margin-bottom: 4%;
        margin-top: 1%;
        padding-bottom: 2%;
        padding-top: 2%;
        flex-wrap: wrap;
        font-size: 1em; 
    }
      .conteneur_menu--page5{
        margin-left: 0%;
        padding: 2%;
    }
    .prelude{font-size: 1.2em;}
    .menu2_privee{font-size: 1em;}
    .div_foot--page5{
        font-size: 1.4em;
        width: 100%;
      }
  }
/*La media query de largeur maximale 760px*/
@media screen and (max-width: 760px){
    header p{font-size: 2.8em;}
    .conteneur_page5{
        font-family: 'Montserrat', Impact, Arial, sans-serif;
        width: 100%;
        height: auto;
        background-color: #5D6D7E;
        color: white;
        margin-left: 0%;
        margin-right: 0%;
        text-align: center;
        margin-bottom: 7%;
        margin-top: 1%;
        padding-bottom: 2%;
        padding-top: 2%;
        flex-wrap: wrap;
        font-size: .95em; 
    }
      .conteneur_menu--page5{
        margin-left: 0%;
        padding: 2%;
    }
    .prelude{font-size: 1em;}
    .menu2_privee{font-size: .95em;}
    .div_foot--page5{
        font-size: 1.2em;
        width: 100%;
      }
  }
/*La media query de largeur maximale 375px*/
@media screen and (max-width: 375px){
  header p{font-size: 2.5em;}
  .conteneur_page5{
    font-family: 'Montserrat', Impact, Arial, sans-serif;
    width: 100%;
    height: auto;
    background-color: #5D6D7E;
    color: white;
    margin-left: 0%;
    margin-right: 0%;
    text-align: center;
    margin-bottom: 8%;
    margin-top: 1%;
    padding-bottom: 2%;
    padding-top: 2%;
    flex-wrap: wrap;
    font-size: .90em; 
}
    .conteneur_menu--page5{
        margin-left: 0%;
        padding: 2%;
    }
  .prelude{font-size: 1em;}
  .menu2_privee{font-size: .90em;}
  .div_foot--page5{
      font-size: 1.2em;
      width: 100%;
    }
}
/*Les différentes polices utilisées*/
@font-face{ 
    font-family: "Roboto";
    src:url(Roboto.eot) format('eot');
    src:url(Roboto.svg) format('svg');
    src:url(Roboto.woff) format('woff');
    src:url(Roboto.ttf) format('ttf');
} 
@font-face{ 
font-family: "Montserrat";
src:url(Montserrat.eot) format('eot');
src:url(Montserrat.svg) format('svg');
src:url(Montserrat.woff) format('woff');
src:url(Montserrat.ttf) format('ttf');
} 