@charset "UTF-8";
/*Les différentes polices utilisées*/
@font-face {
  font-family: SegoePrint;
  src: url(polices/segoepr_0.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(Roboto.eot) format("eot");
  src: url(Roboto.svg) format("svg");
  src: url(Roboto.woff) format("woff");
  src: url(Roboto.ttf) format("ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url(Montserrat.eot) format("eot");
  src: url(Montserrat.svg) format("svg");
  src: url(Montserrat.woff) format("woff");
  src: url(Montserrat.ttf) format("ttf");
}
@font-face {
  font-family: Devonshire;
  src: url(polices/Devonshire-Regular.ttf);
}
/*Le code principal*/
body {
  margin: 0px;
  padding: 0px;
  position: relative;
}

header {
  background-color: #569C87;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 0%;
}

header h1 {
  font-size: 5em;
}

.fa-music {
  margin-top: 2%;
  color: #EC7063;
}

.note--1 {
  margin: 1% 1%;
  text-align: center;
  font-family: "Montserrat", Impact, Arial, sans-serif;
  font-size: 3.2em;
  font-weight: bold;
}

.note_page1 {
  font-family: Devonshire;
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 4%;
}

.conteneur_page1 {
  box-shadow: 1px 1px 2px 2px grey;
  width: 60%;
  height: auto;
  background-color: #f5deda;
  margin-left: 20%;
  margin-right: 20%;
  text-align: left;
  padding-bottom: 2%;
  margin-bottom: 5%;
  flex-wrap: wrap;
}

.flech_gauche1 img {
  margin-top: 2%;
  margin-right: 80px;
  padding-left: 2%;
}

.flech_droite1 img {
  margin-top: 3%;
  margin-left: 80px;
  padding-right: 2%;
  padding-left: 2%;
}

.flech_gauche2 img {
  margin-top: 2%;
  margin-right: 50px;
  padding-left: 2%;
}

.flech_droite2 img {
  margin-top: 3%;
  margin-left: 50px;
  padding-right: 2%;
  padding-left: 2%;
}

.flech_gauche3 img {
  margin-top: 2%;
  margin-right: 30px;
  padding-left: 2%;
}

.flech_droite3 img {
  margin-top: 3%;
  margin-left: 30px;
  padding-right: 2%;
  padding-left: 2%;
}

.prelude {
  display: flex;
  font-family: SegoePrint;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 3%;
  margin-bottom: 1.5%;
  text-align: center;
  justify-content: center;
}

.prelu1::after {
  content: "";
  display: block;
  width: 0%;
  padding: 0px;
  border-bottom: solid 4px black;
  transition: 1s;
}

.prelu1:hover::after {
  width: 100%;
}

.prelu2::after {
  content: "";
  display: block;
  width: 0%;
  padding: 0px;
  border-bottom: solid 4px black;
  transition: 1s;
}

.prelu2:hover::after {
  width: 100%;
}

.prelu3::after {
  content: "";
  display: block;
  width: 0%;
  padding: 0px;
  border-bottom: solid 4px black;
  transition: 1s;
}

.prelu3:hover::after {
  width: 100%;
}

.menu1_page1 {
  width: 92%;
  justify-content: space-between;
  font-family: SegoePrint;
  font-size: 1.2em;
  text-align: left;
  display: flex;
  flex-direction: row;
  padding-left: 5%;
  padding-right: 0%;
}

.menu2_page1 {
  width: 92%;
  justify-content: space-between;
  font-family: SegoePrint;
  font-size: 1.2em;
  text-align: left;
  display: flex;
  flex-direction: row;
  padding-left: 5%;
  padding-right: 0%;
}

.menu1_page1 p {
  margin: 0.5%;
}

.menu2_page1 p {
  margin: 0.5%;
}

.align_euro1 {
  padding-left: 0%;
  font-weight: bold;
}

.align_euro2 {
  padding-left: 0%;
  font-weight: bold;
}

.align_euro3 {
  padding-left: 0%;
  font-weight: bold;
}

.align_euro4 {
  padding-left: 0%;
  font-weight: bold;
}

.align_euro5 {
  padding-left: 0%;
  font-weight: bold;
}

.align_euro6 {
  padding-left: 0%;
  font-weight: bold;
}

.align_euro7 {
  padding-left: 0%;
  font-weight: bold;
}

header h1 {
  font-family: "Montserrat", Impact, Arial, sans-serif;
  font-weight: bold;
  margin-top: 0%;
  margin-bottom: 0%;
  font-size: 4.5em;
  font-weight: bold;
  color: #FCCA46;
}

.note2_page1 {
  margin-top: 2%;
  text-align: center;
  font-family: Devonshire;
  font-size: 2.5em;
}

.div_foot--1 {
  font-family: "Montserrat", Impact, Arial, sans-serif;
  font-weight: bold;
  background-color: #569C87;
  padding-right: 3%;
  padding-left: 3%;
  font-size: 2.5em;
  color: #FCCA46;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
}

.mlegales a {
  text-decoration: none;
  color: #FCCA46;
}

.contact a {
  text-decoration: none;
  color: #FCCA46;
}

.contact:hover {
  background: #0000FF;
  animation: secouer 500ms;
  animation-iteration-count: 3;
  border-radius: 15px;
}
@keyframes secouer {
  0% {
    transform: translateX(2%);
  }
  100% {
    transform: translateX(-2%);
  }
}

.mlegales:hover {
  background: #0000FF;
  animation: secouer 500ms;
  animation-iteration-count: 3;
  border-radius: 15px;
}
@keyframes secouer {
  0% {
    transform: translateX(2%);
  }
  100% {
    transform: translateX(-2%);
  }
}

/*La media query de largeur maximale 1299px*/
@media screen and (max-width: 1299px) {
  .conteneur_page1 {
    width: 80%;
    height: auto;
    background-color: #f5deda;
    margin-left: 10%;
    margin-right: 10%;
    overflow: scroll;
    text-align: left;
    padding-bottom: 2%;
    margin-bottom: 5%;
    flex-wrap: wrap;
  }

  .menu1_page1 {
    width: 95%;
    justify-content: space-between;
    font-family: SegoePrint;
    font-size: 1.2em;
    text-align: left;
    display: flex;
    flex-direction: row;
    padding-left: 3%;
    padding-right: 2%;
  }

  .menu2_page1 {
    width: 95%;
    justify-content: space-between;
    font-family: SegoePrint;
    font-size: 1.2em;
    text-align: left;
    display: flex;
    flex-direction: row;
    padding-left: 3%;
    padding-right: 2%;
  }

  .flech_gauche1 img {
    margin-top: 2%;
    margin-right: 65px;
    padding-left: 2%;
  }

  .flech_droite1 img {
    margin-top: 3%;
    margin-left: 65px;
    padding-right: 2%;
    padding-left: 2%;
  }

  .flech_gauche2 img {
    margin-top: 2%;
    margin-right: 45px;
    padding-left: 2%;
  }

  .flech_droite2 img {
    margin-top: 3%;
    margin-left: 45px;
    padding-right: 2%;
    padding-left: 2%;
  }

  .flech_gauche3 img {
    margin-top: 2%;
    margin-right: 35px;
    padding-left: 2%;
  }

  .flech_droite3 img {
    margin-top: 3%;
    margin-left: 35px;
    padding-right: 2%;
    padding-left: 2%;
  }
}
/*La media query de largeur maximale 1100px*/
@media screen and (max-width: 1100px) {
  .conteneur_page1 {
    width: 100%;
    height: auto;
    margin-top: 5%;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #f5deda;
    margin-bottom: 2%;
    overflow: scroll;
    text-align: left;
    padding-bottom: 2%;
    flex-wrap: wrap;
  }
}
/*La média query de largeur maximale 900px*/
@media screen and (max-width: 900px) {
  header h1 {
    font-family: "Montserrat", Impact, Arial, sans-serif;
    font-weight: bold;
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 3.5em;
    font-weight: bold;
    color: #FCCA46;
  }

  .note--1 {
    margin: 1% 1%;
    text-align: center;
    font-family: "Montserrat", Impact, Arial, sans-serif;
    font-size: 2.5em;
    font-weight: bold;
  }

  .note_page1 {
    font-family: Devonshire;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 2%;
  }

  .conteneur_page1 {
    width: 100%;
    height: auto;
    margin-top: 5%;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #f5deda;
    margin-bottom: 6%;
    overflow: scroll;
    text-align: left;
    padding-bottom: 2%;
    flex-wrap: wrap;
  }

  .flech_gauche1 img {
    width: 96%;
    margin-top: 2%;
    margin-right: 30px;
    padding-left: 2%;
  }

  .flech_droite1 img {
    width: 96%;
    margin-top: 3%;
    margin-left: 0px;
    padding-right: 2%;
    padding-left: 2%;
  }

  .flech_gauche2 img {
    width: 96%;
    margin-top: 2%;
    margin-right: 0px;
    padding-left: 2%;
  }

  .flech_droite2 img {
    width: 96%;
    margin-top: 3%;
    margin-left: 0px;
    padding-right: 2%;
    padding-left: 2%;
  }

  .flech_gauche3 img {
    width: 96%;
    margin-top: 2%;
    margin-right: 0px;
    padding-left: 2%;
  }

  .flech_droite3 img {
    width: 96%;
    margin-top: 3%;
    margin-left: 0px;
    padding-right: 2%;
    padding-left: 2%;
  }

  .prelude {
    display: flex;
    font-family: SegoePrint;
    font-size: 25px;
    font-weight: bold;
    margin-top: 3%;
    margin-bottom: 1.5%;
    text-align: center;
    justify-content: center;
  }

  .menu1_page1 {
    width: 97%;
    font-family: SegoePrint;
    font-size: 15px;
    justify-content: space-between;
    text-align: left;
    display: flex;
    flex-direction: row;
    padding-left: 1%;
    padding-right: 2%;
  }

  .menu2_page1 {
    width: 97%;
    justify-content: space-between;
    font-family: SegoePrint;
    font-size: 15px;
    text-align: left;
    display: flex;
    flex-direction: row;
    padding-left: 1%;
  }

  .align_euro1 {
    padding-left: 0%;
    font-weight: bold;
  }

  .align_euro2 {
    padding-left: 0%;
    font-weight: bold;
  }

  .align_euro3 {
    padding-left: 0%;
    font-weight: bold;
  }

  .align_euro4 {
    padding-left: 0%;
    font-weight: bold;
  }

  .align_euro5 {
    padding-left: 0%;
    font-weight: bold;
  }

  .align_euro6 {
    padding-left: 0%;
    font-weight: bold;
  }

  .align_euro7 {
    padding-left: 0%;
    font-weight: bold;
  }

  .div_foot--1 {
    font-family: "Montserrat", Impact, Arial, sans-serif;
    font-weight: bold;
    background-color: #569C87;
    padding-right: 3%;
    padding-left: 3%;
    font-size: 30px;
    color: #FCCA46;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
  }
}
/*La media query de largeur maximale 500px*/
@media screen and (max-width: 600px) {
  header h1 {
    font-family: "Montserrat", Impact, Arial, sans-serif;
    font-weight: bold;
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 2.5em;
    font-weight: bold;
    color: #FCCA46;
  }

  .note--1 {
    margin: 1% 1%;
    text-align: center;
    font-family: "Montserrat", Impact, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
  }

  .note_page1 {
    font-family: Devonshire;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 4%;
  }

  .conteneur_page1 {
    width: 100%;
    height: auto;
    background-color: #f5deda;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 6%;
    overflow: scroll;
    text-align: left;
    padding-bottom: 2%;
    flex-wrap: wrap;
  }

  .flech_gauche1 img {
    width: 90%;
    margin-top: 2%;
    margin-right: 0px;
    padding-left: 2%;
  }

  .flech_droite1 img {
    width: 90%;
    margin-top: 3%;
    margin-left: 0px;
    padding-right: 2%;
    padding-left: 2%;
  }

  .flech_gauche2 img {
    width: 90%;
    margin-top: 2%;
    margin-right: 0px;
    padding-left: 2%;
  }

  .flech_droite2 img {
    width: 90%;
    margin-top: 3%;
    margin-left: 0px;
    padding-right: 2%;
    padding-left: 2%;
  }

  .flech_gauche3 img {
    width: 90%;
    margin-top: 2%;
    margin-right: 0;
    padding-left: 2%;
  }

  .flech_droite3 img {
    width: 90%;
    margin-top: 3%;
    margin-left: 0;
    padding-right: 2%;
    padding-left: 2%;
  }

  .prelude {
    display: flex;
    font-family: SegoePrint;
    font-size: 100%;
    font-weight: bold;
    margin-top: 3%;
    margin-bottom: 1.5%;
    text-align: center;
    justify-content: center;
  }

  .menu1_page1 {
    width: 98%;
    font-family: SegoePrint;
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-left: 0%;
  }

  .menu2_page1 {
    width: 98%;
    font-family: SegoePrint;
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-left: 0%;
  }

  .align_euro1 {
    padding-left: 0%;
    font-weight: bold;
  }

  .align_euro2 {
    padding-left: 0%;
    font-weight: bold;
  }

  .align_euro3 {
    padding-left: 0%;
    font-weight: bold;
  }

  .align_euro4 {
    padding-left: 0%;
    font-weight: bold;
  }

  .align_euro5 {
    padding-left: 0%;
    font-weight: bold;
  }

  .align_euro6 {
    padding-left: 0%;
    font-weight: bold;
  }

  .align_euro7 {
    padding-left: 0%;
    font-weight: bold;
  }

  .note2_page1 {
    margin-top: 2%;
    text-align: center;
    font-family: Devonshire;
    font-size: 0.9em;
  }

  .div_foot--1 {
    font-family: "Montserrat", Impact, Arial, sans-serif;
    font-weight: bold;
    background-color: #569C87;
    padding-right: 3%;
    padding-left: 3%;
    font-size: 0.9em;
    color: #FCCA46;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
  }
}
/*La media query de largeur maximale 320px*/
@media only screen and (max-width: 320px) {
  header {
    background-color: #569C87;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
  }

  header h1 {
    font-family: "Montserrat", Impact, Arial, sans-serif;
    font-weight: bold;
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 200%;
    font-weight: bold;
    color: #FCCA46;
  }

  .fa-music {
    color: #EC7063;
  }

  .note--1 {
    margin: 1% 1%;
    text-align: center;
    font-family: "Montserrat", Impact, Arial, sans-serif;
    font-size: 120%;
    font-weight: bold;
  }

  .note_page1 {
    font-family: Devonshire;
    text-align: center;
    font-size: 130%;
    font-weight: bold;
    margin-top: 4%;
  }

  .conteneur_page1 {
    width: 100%;
    height: auto;
    background-color: #f5deda;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 6%;
    overflow: scroll;
    text-align: left;
    padding-bottom: 2%;
    flex-wrap: wrap;
  }

  .flech_gauche1 img {
    width: 75px;
    margin-top: 2%;
    margin-right: 18px;
    padding-left: 2%;
  }

  .flech_droite1 img {
    width: 75px;
    margin-top: 3%;
    margin-left: 18px;
    padding-right: 2%;
    padding-left: 2%;
  }

  .flech_gauche2 img {
    width: 75px;
    margin-top: 2%;
    margin-right: 0px;
    padding-left: 2%;
  }

  .flech_droite2 img {
    width: 75px;
    margin-top: 3%;
    margin-left: 0px;
    padding-right: 2%;
    padding-left: 2%;
  }

  .flech_gauche3 img {
    width: 75px;
    margin-top: 2%;
    margin-right: 0;
    padding-left: 2%;
  }

  .flech_droite3 img {
    width: 75px;
    margin-top: 3%;
    margin-left: 0;
    padding-right: 2%;
    padding-left: 2%;
  }

  .prelude {
    display: flex;
    font-family: SegoePrint;
    font-size: 100%;
    font-weight: bold;
    margin-top: 3%;
    margin-bottom: 1.5%;
    text-align: center;
    justify-content: center;
  }

  .menu1_page1 {
    width: 95%;
    font-family: SegoePrint;
    font-size: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-left: 2%;
  }

  .menu2_page1 {
    width: 95%;
    font-family: SegoePrint;
    font-size: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-left: 2%;
  }

  .menu1_page1 p {
    margin: 0.5%;
  }

  .menu2_page1 p {
    margin: 0.5%;
  }

  .align_euro1 {
    padding-left: 0%;
    font-weight: bold;
  }

  .align_euro2 {
    padding-left: 0%;
    font-weight: bold;
  }

  .align_euro3 {
    padding-left: 0%;
    font-weight: bold;
  }

  .align_euro4 {
    padding-left: 0.5%;
    font-weight: bold;
  }

  .align_euro5 {
    padding-left: 0.5%;
    font-weight: bold;
  }

  .align_euro6 {
    padding-left: 0%;
    font-weight: bold;
  }

  .align_euro7 {
    padding-left: 0%;
    font-weight: bold;
  }

  .note2_page1 {
    margin-top: 2%;
    text-align: center;
    font-family: Devonshire;
    font-size: 100%;
  }

  .div_foot--1 {
    font-family: "Montserrat", Impact, Arial, sans-serif;
    font-weight: bold;
    background-color: #569C87;
    padding-right: 3%;
    padding-left: 3%;
    font-size: 96%;
    color: #FCCA46;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
  }
}

/*# sourceMappingURL=stylepage1.css.map */
