body{
    position: relative;
}
header{
    background-color: rgb(21, 143, 174);
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
}
@font-face{
    font-family: Croissant One;
    src: local("Croissant One");
}
.note_page2{
    font-family: Croissant One; 
    margin-top: 6%;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
}
.conteneur_page2{
    width:60%;
    height: 580px;
    background-color: #FEF9E7;
    margin-left: 20%;
    margin-right: 20%;
    overflow: scroll;
    text-align: left;
   /* margin-bottom: 30%;*/
    padding-bottom: 2%;
    flex-wrap: wrap;
    
}

.degrade{
    font-size: 150%;
    background: -webkit-gradient(linear, left top, right top, from(#E67E22), to(#510AD5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.flech_gauche1 img {
    margin-top: 2%;
    margin-right: 14px;
    padding-left: 0%;
   
}
.flech_droite1 img {
    margin-top: 2%;
    margin-left: 14px;
    padding-right: 0%;
    padding-left: 2%;
}
.flech_gauche2 img {
    margin-top: 2%;
    margin-right: 35px;
    padding-left: 5%;
   
}
.flech_droite2 img {
    margin-top: 2%;
    margin-left: 35px;
    padding-right: 3%;
    padding-left: 2%;
}
.flech_gauche3 img {
    margin-top: 2%;
    margin-right: 20px;
    padding-left: 5%;
   
}
.flech_droite3 img {
    margin-left: 20px;
    margin-top: 2%;
    padding-right: 3%;
    padding-left: 2%;
}

.conteneur_menu1--page2{
    color:#E67E22;
}
.conteneur_menu2--page2{
    color:#A207A2;
}
.conteneur_menu3--page2{
    color:#510AD5;
}
.note_page2{margin-top: 6%;}
.prelude{
    display: flex; 
    font-size: 150%; 
    font-weight: bold;
    margin-top: 7%;
    text-align: center;
    justify-content: center;
    }
/*animation de la bordure du bas des sous-menus*/
.prel1::after{
    content: "";
    display: block;
    width: 0%;
    padding: 0px;
    border-bottom: solid 4px black;
    transition: 1s; 
}

.prel1:hover::after {
    width: 100%;
}
.prel2::after{
    content: "";
    display: block;
    width: 0%;
    padding: 0px;
    border-bottom: solid 4px black;
    transition: 1s; 
}

.prel2:hover::after {
    width: 100%;
}
.prel3::after{
    content: "";
    display: block;
    width: 0%;
    padding: 0px;
    border-bottom: solid 4px black;
    transition: 1s; 
}

.prel3:hover::after {
    width: 100%;
}
.menu1_page2{
    text-align: left;
    display: flex;
    flex-direction: row;
    padding-left: 16%;
    margin-top:  0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px; 
}
.menu1_page2 p {
    font-size: 120%;
    margin:1%;
    text-align: left;
}
.menu2_page2{
    text-align: left;
    padding-left: 16%;
    font-size: 120%;
}
.aligne1{padding-left: 25.5%;}
.aligne2{padding-left: 42%;}
.aligne3{padding-left: 44.5%;}
.aligne4{padding-left: 9%;}
.aligne5{padding-left: 15.5%;}
.aligne6{padding-left: 6%;}
header p{
    font-family: 'Montserrat', Impact, Arial, sans-serif;
    font-weight: bold;
    margin-top: 0%;
    margin-bottom: 0%;
    font-size:450%;
    font-weight: bold;
    color: yellow;
}

.div_foot--page2{
  font-family: 'Montserrat', Impact, Arial, sans-serif;
  font-weight: bold;
  background-color: #158fae;
  padding-right: 3%;
  padding-left: 3%;
  font-size: 250%;
  color: yellow;
  display: flex;
  justify-content: space-between;
  position: fixed; bottom: 0px; left: 0; right: 0;
  
}
.mlegales a{
    text-decoration: none;
    color: yellow;
}
.contact a{
    text-decoration: none;
    color: yellow;
}
.contact{
    &:hover{
        background:#0000FF;
        animation: secouer 500ms;
        animation-iteration-count: 3;
        border-radius: 15px;
    }
  @keyframes secouer {
      0%{
          transform:translateX(2%);
      }
      100%{
          transform:translateX(2% *-1);
      } 
  }
}
.mlegales{
  &:hover{
      background:#0000FF;
      animation: secouer 500ms;
      animation-iteration-count: 3;
      border-radius: 15px;
  }
@keyframes secouer {
    0%{
        transform:translateX(2%);
    }
    100%{
        transform:translateX(2% *-1);
    } 
}
}
@font-face{
    font-family: Croissant One;
    src: local("Croissant One");
}
@font-face{ 
    font-family: "Montserrat";
    src:url(Montserrat.eot) format('eot');
    src:url(Montserrat.svg) format('svg');
    src:url(Montserrat.woff) format('woff');
    src:url(Montserrat.ttf) format('ttf');
    } 
@font-face{
    font-family: "Croissant+One";
    src: url(https://fonts.google.com/specimen/Croissant+One?query=croiss);
    src:url(Croissant+One.eot) format('eot');
    src:url(Croissant+One.svg) format('svg');
    src:url(Croissant+One.woff) format('woff');
    src:local(CroissantOne-Regular) format('ttf');
}