body{
    position: relative;
}
header{
    background-color: rgb(21, 143, 174);
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
}
@font-face {
    font-family: Dancing Script;
    src: local("Dancing Script");
  }
  @font-face{
    font-family: Segoe Print;
    src: local("Segoe Print");
}
.note_page3{ 
    font-family: Dancing Script;
    background: -webkit-gradient(linear, left top, right top, from(rgb(5, 64, 240) ), to(rgb(124, 189, 241)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 280%;
    font-weight: bold;
    margin-top: 6%;
}
@font-face{
    font-family: Courgette;
    src: local("Courgette")
}
.conteneur_page3{ 
    width:60%;
    height: 580px;
    background-color: #D5DBDB;
    margin-left: 20%;
    margin-right: 20%;
    overflow: scroll;
    text-align: left;
    margin-bottom: 30%;
    padding-bottom: 2%;
    flex-wrap: wrap;
    
}

.prelude{ 
    font-family: Segoe Print;
    font-size: 170%; 
    font-weight: bold; 
    margin-top: 5%; 
    margin-bottom: 2%;
    text-align: center;}
.menu1_page3{
    font-family: Segoe Print;
    font-size: 120%;
    text-align: left;
    display: flex;
    flex-direction: row;
    padding-left: 8%;
}
.menu2_page3{
    font-family: Segoe Print;
    font-size: 120%;
    text-align: left;
    display: flex;
    flex-direction: row;
    padding-left: 8%;
}
.menu1_page3 p {
      margin:1%;
}
.menu2_page3 p {
    margin: 1%;
}
.aligne_euro1{padding-left: 35.8%;font-weight: bold;}
.aligne_euro2{padding-left: 4.5%;font-weight: bold;}
.aligne_euro3{padding-left: 43.5%;font-weight: bold;}
.aligne_euro4{padding-left: 10.5%;font-weight: bold;}
.aligne_euro5{padding-left: 29.5%;font-weight: bold;}
.aligne_euro6{padding-left: 26.8%;font-weight: bold;}
.aligne_euro7{padding-left: 43.5%;font-weight: bold;}
.aligne_euro8{padding-left: 50.8%;font-weight: bold;}
.aligne_euro9{padding-left: 51.5%;font-weight: bold;}


header p{
    font-family: 'Montserrat', Impact, Arial, sans-serif;
    font-weight: bold;
    margin-top: 0%;
    margin-bottom: 0%;
    font-size:450%;
    font-weight: bold;
    color: yellow;
}

.div_foot--page3{
  font-family: 'Montserrat', Impact, Arial, sans-serif;
  font-weight: bold;
  background-color: #158fae;
  margin-left: 10%;
  margin-right: 10%;
  padding-right: 3%;
  padding-left: 3%;
  font-size: 250%;
  color: yellow;
  display: flex;
  justify-content: space-between;
  position: absolute; bottom: -46px; left: 0; right: 0;
}
@font-face{ 
    font-family: "Montserrat";
    src:url(Montserrat.eot) format('eot');
    src:url(Montserrat.svg) format('svg');
    src:url(Montserrat.woff) format('woff');
    src:url(Montserrat.ttf) format('ttf');
    } 
@font-face{ 
    font-family: "Felipa";
    src:url(Felipa.eot) format('eot');
    src:url(Felipa.svg) format('svg');
    src:url(Felipa.woff) format('woff');
    src:url(Felipa.ttf) format('ttf');
    } 