
/*Les différentes polices utilisées*/
@font-face{
    font-family: SegoePrint;
    src: url(polices/segoepr_0.ttf) ;
}

@font-face{
    font-family: KaushanScript;
    src: url(polices/KaushanScript-Regular.ttf);
}
@font-face{ 
    font-family: "Roboto";
    src:url(Roboto.eot) format('eot');
    src:url(Roboto.svg) format('svg');
    src:url(Roboto.woff) format('woff');
    src:url(Roboto.ttf) format('ttf');
} 
@font-face{ 
font-family: "Montserrat";
src:url(Montserrat.eot) format('eot');
src:url(Montserrat.svg) format('svg');
src:url(Montserrat.woff) format('woff');
src:url(Montserrat.ttf) format('ttf');
} 

/*Le code pricipal*/
body{
    margin: 0px;
    padding: 0px;
    position: relative;
}
header{
    flex-wrap: wrap;
    background-color: #569C87;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
}
header h1{
    font-family: 'Montserrat', Impact, Arial, sans-serif;
    font-weight: bold;
    flex-wrap: wrap;
    margin-top: 0%;
    margin-bottom: 0%;
    font-size:4.8em;
    color: #FCCA46;
}

.note_page4{ 
    font-family: KaushanScript;
    src:local(Devonshire-Regular) format('ttf');
    background: -webkit-gradient(linear, left top, right top, from(#04B314 ), to(rgb(238, 175, 29)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 2.7em;
    font-weight: bold;
    margin-top: 2%;

}
.conteneur_page4{
    width:60%;
    height: auto;
    box-shadow: 1px 1px 2px 2px rgb(161, 165, 165);
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0.5%;
    padding-bottom: 2%;
    margin-bottom: 4%;
    flex-wrap: wrap; 
}
.flech_gauche1 img {
    margin-top: 2%;
    margin-right: 95px;
    padding-left: 2%;
}
.flech_droite1 img {
    margin-top: 2%;
    margin-left: 95px;
    padding-right: 2%;
    padding-left: 2%;
}
.flech_gauche2 img {
    margin-top: 2%;
    margin-right: 45px;
    padding-left: 2%;
    padding-right: 2%;
}
.flech_droite2 img {
    margin-top: 2%;
    margin-left: 45px;
    padding-right: 2%;
    padding-left: 2%;
}
.flech_gauche3 img {
    margin-top: 2%;
    margin-right: 35px;
    padding-left: 2%;
    padding-right: 2%;
}
.flech_droite3 img {
    margin-top: 2%;
    margin-left: 35px;
    padding-right: 2%;
    padding-left: 2%;
}
.prelude{
    display: flex;
    justify-content: center;
    font-family: SegoePrint;
    text-align: center;
    font-size: 1.5em; 
    font-weight: bold; 
    margin-top: 6%;
    margin-bottom: 2%;
}
/*Animations des bordures du bas des menus*/
.prel1::after{
    content: "";
    display: block;
    width: 0%;
    padding: 0px;
    border-bottom: solid 4px black;
    transition: 1s; 
}

.prel1:hover::after {
    width: 100%;
}

.prel2::after{
    content: "";
    display: block;
    width: 0%;
    padding: 0px;
    border-bottom: solid 4px black;
    transition: 1s; 
}

.prel2:hover::after {
    width: 100%;
}
 
.prel3::after{
    content: "";
    display: block;
    width: 0%;
    padding: 0px;
    border-bottom: solid 4px black;
    transition: 1s; 
}

.prel3:hover::after {
    width: 100%;
}
.menu1_page4{
    width: 92%;
    font-family: SegoePrint;
    font-size: 1.1em;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5%;
}
.menu2_page4{
    width: 92%;
    font-family: SegoePrint;
    font-size: 1.1em;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5%;
}
.menu1_page4 p {
    margin:1%;
}
.menu2_page4 p {
  margin: 1%;
}
.aligne_euro1{padding-left: 0%; font-weight: bold;}
.aligne_euro2{padding-left: 0%; font-weight: bold;}
.aligne_euro3{padding-left: 0%;font-weight: bold;}
.aligne_euro4{padding-left: 0%; font-weight: bold;}
.aligne_euro5{padding-left: 0%;font-weight: bold;}
.aligne_euro6{padding-left: 0%; font-weight: bold;}
.aligne_euro7{padding-left: 0%;font-weight: bold;}
.aligne_euro8{padding-left: 0%; font-weight: bold;}
.aligne_euro9{padding-left: 0%; font-weight: bold;}

.div_foot--page4{
  font-family: 'Montserrat', Impact, Arial, sans-serif;
  font-weight: bold;
  background-color: #569C87;
  padding-right: 3%;
  padding-left: 3%;
  font-size: 2.5em;
  color: #FCCA46;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed; bottom: 0px; left: 0; right: 0; 
}
.mlegales a{
    text-decoration: none;
    color: #FCCA46;
}
.contact a{
    text-decoration: none;
    color: #FCCA46;
}
.contact{
    &:hover{
        background:#0000FF;
        animation: secouer 500ms;
        animation-iteration-count: 3;
        border-radius: 15px;
    }
  @keyframes secouer {
      0%{
          transform:translateX(2%);
      }
      100%{
          transform:translateX(2% *-1);
      } 
  }
}
.mlegales{
  &:hover{
      background:#0000FF;
      animation: secouer 500ms;
      animation-iteration-count: 3;
      border-radius: 15px;
  }
@keyframes secouer {
    0%{
        transform:translateX(2%);
    }
    100%{
        transform:translateX(2% *-1);
    } 
}
}
/*La media query de largeur maximale 1024px*/
@media screen and (max-width: 1299px){
    .conteneur_page4{
        width: 80%;
        height: auto;
        box-shadow: 1px 1px 2px 2px rgb(161, 165, 165);
        background-color: white;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 0.5%;
        padding-bottom: 2%;
        margin-bottom: 6%;
        flex-wrap: wrap; 
    } 
}
@media screen and (max-width: 1030px){
    header h1{font-size: 3.8em;}
    .note_page4{font: 2.5em;}
    .conteneur_page4{
        width: 88%;
        height: 1000px;
        box-shadow: 1px 1px 2px 2px rgb(161, 165, 165);
        background-color: white;
        margin-left: 6%;
        margin-right: 6%;
        margin-top: 3%;
        padding-top: 9%;
        padding-bottom: 3%;
        margin-bottom: 1%;
        flex-wrap: wrap; 
    }
}
/*La media query de largeur maximale 1024px*/
@media screen and (max-width: 900px){
    header h1{font-size: 3.8em;}
    .note_page4{font: 2.5em;}
    .conteneur_page4{
        width: 88%;
        height: auto;
        box-shadow: 1px 1px 2px 2px rgb(161, 165, 165);
        background-color: white;
        margin-left: 6%;
        margin-right: 6%;
        margin-top: 3%;
        padding-top: 8%;
        padding-bottom: 2%;
        margin-bottom: 4%;
        flex-wrap: wrap; 
    }
    .flech_gauche1 img {
        width: 200px;
        margin-top: 2%;
        margin-right: 70px;
        padding-left: 2%;
    }
    .flech_droite1 img {
        width: 200px;
        margin-top: 2%;
        margin-left: 70px;
        padding-right: 2%;
        padding-left: 2%;
    }
    .flech_gauche2 img {
        width: 200px;
        margin-top: 2%;
        margin-right: 8px;
        padding-left: 2%;
        padding-right: 2%;
    }
    .flech_droite2 img {
        width: 200px;
        margin-top: 2%;
        margin-left: 8px;
        padding-right: 2%;
        padding-left: 2%;
    }
    .flech_gauche3 img {
        width: 200px;
        margin-top: 2%;
        margin-right: 0px;
        padding-left: 2%;
        padding-right: 2%;
    }
    .flech_droite3 img {
        width: 200px;
        margin-top: 2%;
        margin-left: 0px;
        padding-right: 2%;
        padding-left: 2%;
    }
    .menu1_page4{
        width: 100%;
        font-family: SegoePrint;
        font-size: 1em;
        text-align: left;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 0%;
    }
    .menu2_page4{
        width: 100%;
        font-family: SegoePrint;
        font-size: 1em;
        text-align: left;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 0%;
    }
    .div_foot--page4{
        font-size: 1.2em;
        position: fixed; bottom: 0px; left: 0; right: 0; 
    }
}
/*La media query de largeur maximale 760px*/
@media screen and (max-width: 760px){
    header h1{ font-size: 2.2em;} 
    .note_page4{font-size: 1.5em;}
    .conteneur_page4{
      width: 100%;
      height: auto;
      box-shadow: 1px 1px 2px 2px rgb(161, 165, 165);
      background-color: white;
      margin-left: 0%;
      margin-right: 0%;
      margin-top: 0.5%;
      padding-bottom: 2%;
      margin-bottom: 7%;
      flex-wrap: wrap; 
  }
  .flech_gauche1 img {
      width: 90px;
      margin-top: 2%;
      margin-right: 45px;
      padding-left: 2%;
  }
  .flech_droite1 img {
      width: 90px;
      margin-top: 2%;
      margin-left: 45px;
      padding-right: 2%;
      padding-left: 2%;
  }
  .flech_gauche2 img {
      width: 90px;
      margin-top: 2%;
      margin-right: 5px;
      padding-left: 2%;
      padding-right: 2%;
  }
  .flech_droite2 img {
      width: 90px;
      margin-top: 2%;
      margin-left: 5px;
      padding-right: 2%;
      padding-left: 2%;
  }
  .flech_gauche3 img {
      width: 90px;
      margin-top: 2%;
      margin-right: 0px;
      padding-left: 2%;
      padding-right: 2%;
  }
  .flech_droite3 img {
      width: 90px;
      margin-top: 2%;
      margin-left: 0px;
      padding-right: 2%;
      padding-left: 2%;
  }
  .prelude{
      display: flex;
      justify-content: center;
      font-family: SegoePrint;
      text-align: center;
      font-size: 1.1em; 
      font-weight: bold; 
      margin-top: 6%;
      margin-bottom: 2%;
  }
  .menu1_page4{
      width: 100%;
      font-family: SegoePrint;
      font-size: .98em;
      text-align: left;
      display: flex;
      flex-direction: column;
      padding-left: 0%;
  }
  .menu2_page4{
      width: 100%;
      font-family: SegoePrint;
      font-size: .98em;
      text-align: left;
      display: flex;
      flex-direction: column;
      padding-left: 0%;
  }
  .menu1_page4 p {
      text-align: center;
      margin:1%;
  }
  .menu2_page4 p {
      text-align: center;
      margin: 1%;
  }
  .div_foot--page4{
      width: 100%;
      font-family: 'Montserrat', Impact, Arial, sans-serif;
      font-weight: bold;
      background-color: #569C87;
      padding-right: 0%;
      padding-left: 0%;
      font-size: 1.1em;
      color: yellow;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: fixed; bottom: 0px; left: 0; right: 0; 
    }
  }
/*La media query de largeur maximale 375px*/
@media screen and (max-width:375px){
  header h1{ font-size: 2.2em;} 
  .note_page4{font-size: 1.5em;}
  .conteneur_page4{
    width: 100%;
    height: auto;
    box-shadow: 1px 1px 2px 2px rgb(161, 165, 165);
    background-color: white;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0.5%;
    padding-bottom: 2%;
    margin-bottom: 8.5%;
    flex-wrap: wrap; 
}
.flech_gauche1 img {
    width: 80px;
    margin-top: 2%;
    margin-right: 30px;
    padding-left: 2%;
}
.flech_droite1 img {
    width: 80px;
    margin-top: 2%;
    margin-left: 30px;
    padding-right: 2%;
    padding-left: 2%;
}
.flech_gauche2 img {
    width: 80px;
    margin-top: 2%;
    margin-right: 0px;
    padding-left: 2%;
    padding-right: 2%;
}
.flech_droite2 img {
    width: 80px;
    margin-top: 2%;
    margin-left: 0px;
    padding-right: 2%;
    padding-left: 2%;
}
.flech_gauche3 img {
    width: 80px;
    margin-top: 2%;
    margin-right: 0px;
    padding-left: 2%;
    padding-right: 2%;
}
.flech_droite3 img {
    width: 80px;
    margin-top: 2%;
    margin-left: 0px;
    padding-right: 2%;
    padding-left: 2%;
}
.prelude{
    display: flex;
    justify-content: center;
    font-family: SegoePrint;
    text-align: center;
    font-size: 1.1em; 
    font-weight: bold; 
    margin-top: 6%;
    margin-bottom: 2%;
}
.menu1_page4{
    width: 100%;
    font-family: SegoePrint;
    font-size: .95em;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-left: 0%;
}
.menu2_page4{
    width: 100%;
    font-family: SegoePrint;
    font-size: .95em;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-left: 0%;
}
.menu1_page4 p {
    text-align: center;
    margin:1%;
}
.menu2_page4 p {
    text-align: center;
    margin: 1%;
}
.div_foot--page4{
    width: 100%;
    font-family: 'Montserrat', Impact, Arial, sans-serif;
    font-weight: bold;
    background-color: #569C87;
    padding-right: 0%;
    padding-left: 0%;
    font-size: .98em;
    color: yellow;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed; bottom: 0px; left: 0; right: 0; 
  }
}
/*Les différentes polices utilisées*/
/*@font-face{
    font-family: Kaushan Script;
    src: local("Kaushan Script")
}
@font-face{
    font-family: Segoe Print;
    src: local("Segoe Print");
}
@font-face{ 
    font-family: "Montserrat";
    src:url(Montserrat.eot) format('eot');
    src:url(Montserrat.svg) format('svg');
    src:url(Montserrat.woff) format('woff');
    src:url(Montserrat.ttf) format('ttf');
    } 
@font-face{ 
    font-family: "Devonshire-Regular";
    src:local(Devonshire-Regular) format('ttf');
    } */
